{% extends 'base.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block body %}

{{ include('navbar.html.twig') }}
<div class="container-fluid">
    <div class="card bg-dark text-secondary content my-5">
        <div class="row">
            <div class="col-5">
                <img src="/{{ product.img }}" class="img-fluid p-5"  alt="...">
            </div>
            <div class="card-body col-7 text-center">
                <h3 class="card-title pt-5">{{ product.productname }}</h3>
                    {{ product.price }} € <br>
                    Produced by {{product.producer.producerName}} <br>
                    Visit Producer {{product.producer.website}} <br>
                    Producer Address: {{product.producer.address.street}} {{product.producer.address.number}}, {{product.producer.address.zipcode}} {{product.producer.address.city}}, {{product.producer.address.country}}<br>
                    {{ product.description}}<br>
               
                <a href="/add/{{ product.productId }}" class="btn btn-outline-success my-3">Add to Cart</a>
                <a href="/crud" class="btn btn-outline-info my-3">Return to Main Page</a>
                 
            </div>    
        </div>
    </div> 
</div> 

{% endblock %}